/* shared styles */
.btn-primary {
    border-radius: 8px;
    border: none;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-main-div {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
}

.header-div {
    /* padding: 197px 972px 0px 240px; */
    margin-left: 240px;
    margin-top: 197px;
    margin-right: 972px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    margin-bottom: 32px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}
.header-flower{
    margin-bottom: 0px;
}

.second-para {
    margin-top: 178px;
    margin-left: 746px;
    margin-right: 746px;
}

.second-para-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.third-para-flower {
    display: flex;
    justify-content: space-between;
}