/* shared styles */
.btn-primary {
    border-radius: 8px;
    border: none;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-main-div {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    height: 100%;
    width: 100%;
    gap: 97px;
}

.header-div {
    /* padding: 197px 972px 0px 240px; */
    padding-top: 100px;
    padding-left: 100px;
}

.header-title {
    color: #272727;
    font-size: 52px;
    font-family: lato;
    font-weight:bolder;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.header-flower {
   display:flex;
   height: 550px;
}

.second-para {
    
}

.second-para-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.second-para-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    
    

}

.third-para-flower {
    display: flex;
    justify-content: center;
    gap: 24px;
    height: 400px;



}

.third-para-flower img {
align-content:center;
    width: 80%;
    height: 80%;
    flex-shrink: 0;

}

.third-para-flower000 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 20%;
    height: 300px;

}

.third-para-flower001 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 20%;
    height: 300px;
}

.third-para-flower002 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 20%;
    height: 300px;
}

.fourth-para-main-div {}

.fifth-para-main-div {
    display: flex;
    gap: 180px;
    justify-content: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.sixth-para-main-div {
    text-align: center;
}

.seventh-para-main-div {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.subscribe-main-div {
    text-align: center;
    background-image: url("../Rectangle\ 9.png");
    height: 449px;
    background-position: center;
    background-repeat: no-repeat;

}

.subscriber-email-button {
    display: flex;
    justify-content: center;
}

.subscriber-email-box {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

footer {
    background: #111010;
    height: 449px;
    flex-shrink: 0;
    text-align: center;
    font-size: 48px;
}

.footer-title-first {
    color: #E55473;
}

.footer-title-second {
    color: white;

}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer-last-line {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
}